.q1{
    height: 50px;
    width: 50px;
    position: relative;
    top: 20x;
    left: 20px;
    background-color: red;
}
.q2{
    height: 50px;
    width: 50px;
    position: relative;
    top: -30px;
    left: 40px;
    background-color: purple;
    z-index: 1;
}
.q3{
    height: 50px;
    width: 50px;
    position: relative;
    top: -60px;
    left: 60px;
    background-color: green;
}