*{
    height: 700px;
    width: 100vw;
}
.q1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 100vw;
}
.q2{
    height: 700px;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: row;
    
    background-color: greenyellow;
}
.q4{
    height: 700px;
    width: 50vw;
    position: relative;
    background-color: greenyellow;
    justify-content: end;
    display: flex;
    flex-direction: row;
}
.q3{
    height: 125px;
    width: 125px;
    position: relative;
   
    background-color: white;
    top: 125px;
    left: 125px
}
.q5{
    height: 125px;
    width: 125px;
    position: relative;
    background-color: white;
    top: 125px;
    right: 125px
}